body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
    text-align: center;
    padding: 20px;
}

.container {
    background: white;
    padding: 20px;
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #333;
}

.status-h3 {
    margin-top: -0.25rem;
}

p {
    font-size: 18px;
    color: #555;
}

.status-box {
    background: #e3f2fd;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    margin: -0.5rem 0 1.75rem;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: .25rem;
}

button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: -0.75rem 1rem 0;
}

button:hover {
    background-color: #0056b3;
}

.btn-off {
    background-color: #dc3545;
}

.btn-off:hover {
    background-color: #a71d2a;
}

.input-group {
    margin-bottom: 10px;
}

input {
    width: 80%;
    padding: .35rem;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: .25rem;
    text-align: center;
    font-size: 1rem;
}

.save-btn {
    background-color: rgb(59, 59, 195);
    border: none;
    color: white;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: .5rem;
}

.save-btn:hover {
    background-color: rgb(41, 41, 167);
}

.hidden {
    display: none;
}